.kf-button-link {
    text-decoration: none;
}

.kf-button {
    background-color: #dc3545;
    color: #fff;
    border: 2px solid #dc3545;
    border-radius: 8px;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
        background-color: #fff;
        color: #dc3545;
    }

    transition: background-color 0.3s,
    color 0.3s;
}

.kf-page-up-button-container {
    position: absolute;
    left: 0;
}

.kf-hours-info-days {
    font-weight: bold;
    font-size: 20px;
}

.kf-hours-info-hours {
    font-size: 20px;
    font-style: italic;
}

.kf-orders-container {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    background-color: #00000096;
    height: 100%;
    width: 100%;
}

.kf-orders-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    height: 50%;
    width: 50%;
}