.kf-section {
    height: 100vh;
}

.kf-title-section {
    background-color: #FFF7F1;
}

.kf-about-us-section {
    background-color: #FFE4C9;
    height: 50vh;
}

.kf-menu-section {
    background-color: #E78895;
}

.kf-contact-section {
    background-color: #BED1CF;
    height: 50vh;
}